# Imports

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
%matplotlib inline

from fastai.imports import *
from fastai.structured import *
from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

# Initial Load data from original csv

In [7]:
def display_all(df):
    with pd.option_context('display.max_rows', 1000, 'display.max_columns', 1000):
        display(df)

In [6]:
PATH = "data/gtd/"

!ls {PATH}

answer1				 gtd_13to16_0617dist.xlsx  gtd_full.csv
answer-rf.csv			 gtd1993_0617dist.xlsx	   gtd-raw-allcats-dt
Codebook.pdf			 gtd_70to94_0617dist.xlsx  TermsofUse.pdf
globalterrorismdb_0617dist.xlsx  gtd_95to12_0617dist.xlsx

In [ ]:
% time df_raw = pd.read_excel(f"{PATH}/globalterrorismdb_0617dist.xlsx")

In [ ]:
display_all(xl.tail().T)

In [ ]:
display_all(xl.describe(include='all').T)

In [ ]:
% time df_raw.to_feather('tmp/gtd-raw')

# Load gtd_raw_sum

In [8]:
%time df_raw = pd.read_feather('tmp/gtd_raw_sum')
df_raw.shape

CPU times: user 458 ms, sys: 261 ms, total: 719 ms
Wall time: 2.25 s

(170350, 105)

In [10]:
# list number of unique values for each column
a = [(len(df_raw[c].unique()),df_raw[c].dtype,c) for c in df_raw.columns]
len(a),a

(105,
 [(170350, dtype('int64'), 'eventid'),
  (46, dtype('int64'), 'iyear'),
  (13, dtype('int64'), 'imonth'),
  (32, dtype('int64'), 'iday'),
  (2, dtype('int64'), 'extended'),
  (1862, dtype('<M8[ns]'), 'resolution'),
  (205, dtype('O'), 'country_txt'),
  (12, dtype('O'), 'region_txt'),
  (2495, dtype('O'), 'provstate'),
  (33958, dtype('O'), 'city'),
  (61029, dtype('float64'), 'latitude'),
  (60603, dtype('float64'), 'longitude'),
  (6, dtype('float64'), 'specificity'),
  (3, dtype('int64'), 'vicinity'),
  (39817, dtype('O'), 'location'),
  (2, dtype('int64'), 'crit1'),
  (2, dtype('int64'), 'crit2'),
  (2, dtype('int64'), 'crit3'),
  (3, dtype('int64'), 'doubtterr'),
  (6, dtype('O'), 'alternative_txt'),
  (2, dtype('int64'), 'multiple'),
  (2, dtype('int64'), 'success'),
  (2, dtype('int64'), 'suicide'),
  (9, dtype('O'), 'attacktype1_txt'),
  (10, dtype('O'), 'attacktype2_txt'),
  (8, dtype('O'), 'attacktype3_txt'),
  (22, dtype('O'), 'targtype1_txt'),
  (111, dtype('O'), 'targsubtype1_txt'),
  (31300, dtype('O'), 'corp1'),
  (82975, dtype('O'), 'target1'),
  (214, dtype('O'), 'natlty1_txt'),
  (23, dtype('O'), 'targtype2_txt'),
  (98, dtype('O'), 'targsubtype2_txt'),
  (2475, dtype('O'), 'corp2'),
  (4791, dtype('O'), 'target2'),
  (157, dtype('O'), 'natlty2_txt'),
  (21, dtype('O'), 'targtype3_txt'),
  (90, dtype('O'), 'targsubtype3_txt'),
  (377, dtype('O'), 'corp3'),
  (666, dtype('O'), 'target3'),
  (105, dtype('O'), 'natlty3_txt'),
  (3454, dtype('O'), 'gname'),
  (1099, dtype('O'), 'gsubname'),
  (384, dtype('O'), 'gname2'),
  (59, dtype('O'), 'gsubname2'),
  (104, dtype('O'), 'gname3'),
  (14, dtype('O'), 'gsubname3'),
  (13034, dtype('O'), 'motive'),
  (3, dtype('float64'), 'guncertain1'),
  (3, dtype('float64'), 'guncertain2'),
  (3, dtype('float64'), 'guncertain3'),
  (2, dtype('int64'), 'individual'),
  (113, dtype('float64'), 'nperps'),
  (51, dtype('float64'), 'nperpcap'),
  (4, dtype('float64'), 'claimed'),
  (11, dtype('O'), 'claimmode_txt'),
  (4, dtype('float64'), 'claim2'),
  (10, dtype('O'), 'claimmode2_txt'),
  (3, dtype('float64'), 'claim3'),
  (9, dtype('O'), 'claimmode3_txt'),
  (4, dtype('float64'), 'compclaim'),
  (12, dtype('O'), 'weaptype1_txt'),
  (30, dtype('O'), 'weapsubtype1_txt'),
  (12, dtype('O'), 'weaptype2_txt'),
  (29, dtype('O'), 'weapsubtype2_txt'),
  (11, dtype('O'), 'weaptype3_txt'),
  (24, dtype('O'), 'weapsubtype3_txt'),
  (6, dtype('O'), 'weaptype4_txt'),
  (17, dtype('O'), 'weapsubtype4_txt'),
  (18247, dtype('O'), 'weapdetail'),
  (200, dtype('float64'), 'nkill'),
  (31, dtype('float64'), 'nkillus'),
  (91, dtype('float64'), 'nkillter'),
  (234, dtype('float64'), 'nwound'),
  (45, dtype('float64'), 'nwoundus'),
  (43, dtype('float64'), 'nwoundte'),
  (3, dtype('int64'), 'property'),
  (5, dtype('O'), 'propextent_txt'),
  (641, dtype('float64'), 'propvalue'),
  (18345, dtype('O'), 'propcomment'),
  (4, dtype('float64'), 'ishostkid'),
  (203, dtype('float64'), 'nhostkid'),
  (28, dtype('float64'), 'nhostkidus'),
  (36, dtype('float64'), 'nhours'),
  (314, dtype('float64'), 'ndays'),
  (144, dtype('O'), 'divert'),
  (218, dtype('O'), 'kidhijcountry'),
  (4, dtype('float64'), 'ransom'),
  (396, dtype('float64'), 'ransomamt'),
  (23, dtype('float64'), 'ransomamtus'),
  (137, dtype('float64'), 'ransompaid'),
  (9, dtype('float64'), 'ransompaidus'),
  (346, dtype('O'), 'ransomnote'),
  (8, dtype('O'), 'hostkidoutcome_txt'),
  (151, dtype('float64'), 'nreleased'),
  (14151, dtype('O'), 'addnotes'),
  (75888, dtype('O'), 'scite1'),
  (56563, dtype('O'), 'scite2'),
  (32563, dtype('O'), 'scite3'),
  (26, dtype('O'), 'dbsource'),
  (3, dtype('int64'), 'INT_LOG'),
  (3, dtype('int64'), 'INT_IDEO'),
  (3, dtype('int64'), 'INT_MISC'),
  (3, dtype('int64'), 'INT_ANY'),
  (20830, dtype('O'), 'related')])

In [12]:
# list columns with unique values > n
n = 10000
a0 = [a0 for a0 in a if a0[0]>n]
len(a0),a0

(15,
 [(170350, dtype('int64'), 'eventid'),
  (33958, dtype('O'), 'city'),
  (61029, dtype('float64'), 'latitude'),
  (60603, dtype('float64'), 'longitude'),
  (39817, dtype('O'), 'location'),
  (31300, dtype('O'), 'corp1'),
  (82975, dtype('O'), 'target1'),
  (13034, dtype('O'), 'motive'),
  (18247, dtype('O'), 'weapdetail'),
  (18345, dtype('O'), 'propcomment'),
  (14151, dtype('O'), 'addnotes'),
  (75888, dtype('O'), 'scite1'),
  (56563, dtype('O'), 'scite2'),
  (32563, dtype('O'), 'scite3'),
  (20830, dtype('O'), 'related')])

In [13]:
df_raw['scite1'].dtype.name

'object'

In [15]:
# check freq of each value in a column
cname = 'scite2'
df_raw[cname].value_counts()

Christopher Hewitt, "Political Violence and Terrorism in Modern America: A Chronology," Praeger Security International, 2005.                                                                                                                                                                   134
"Iraq: Security Roundup 1900 GMT 27 September 2016," Summary, September 27, 2016.                                                                                                                                                                                                               100
"Attack on 80 electricity towers in Anbar leaves 2 casualties," Iraqi News, December 1, 2016.                                                                                                                                                                                                    63
"IS ignites sectarian tensions in multiple Iraq bombings," Middle East Eye, January 12, 2016.                                                                                                                                                                                                    43
“Terrorist Attacks: The Positive Outcomes,” The Jakarta Post, December 26, 2002.                                                                                                                                                                                                                 39
"Dhaka: Election Official Killed, 150 Polling Centers Burnt as Violence Peaks on Eve of General Poll," New Age Online, January 5, 2014.                                                                                                                                                          35
"Selection List: Thai Press From Pattani, Yala, Narathiwat Provinces 14-20 October 2013," OSC Summary, October 14, 2013.                                                                                                                                                                         32
"Wave of   attacks   kills 88 in Iraq," Agence France Presse -- English, September 9, 2012.                                                                                                                                                                                                      30
"Three more bombs hit Yala," Bangkok Post, May 16, 2015.                                                                                                                                                                                                                                         30
William Sater, "Puerto Rican Terrorists: A Possible Threat to U.S. Energy Installations?," RAND, October 1981.                                                                                                                                                                                   28
Marcia McKnight Trick, "Chronology of Incidents of Terroristic, Quasi-Terroristic, and Political Violence in the United States: January 1965 to March 1976," National Advisory Committee on Criminal Justice Standards and Goals: Report of the Task Force on Disorders and Terrorism, 1976.     28
"Iraq: Roundup of Security Incidents 06-12 May 2014," OSC Summary, May 13, 2014.                                                                                                                                                                                                                 27
"Bomb Attacks Around Iraq Target Shiites, Killing Dozens," The New York Times, June 14, 2012.                                                                                                                                                                                                    26
"Corsican Separatists Attack Luxury   Holiday Villa," Global Insight, July 4, 2012.                                                                                                                                                                                                              26
"18 Dead, Many Missing As Fulani Herdsmen Sack Governor Suswam's Village," Vanguard (Lagos), February 11, 2015.                                                                                                                                                                                  24
"Corsican bombers attack dozens of holiday homes," dpa International Service in English, December 8, 2012.                                                                                                                                                                                       24
"Iraq's al-Qaida claims responsibility for Monday's attacks," Xinhua News Agency, July 30, 2013.                                                                                                                                                                                                 22
"Iraq: Roundup of Security Incidents 18-24 March 2014," OSC Summary, March 25, 2014.                                                                                                                                                                                                             21
"Iraq: Roundup of Security Incidents 26 November-02 December 2013," OSC Summary, November 26, 2013.                                                                                                                                                                                              21
"Roundup of ISIL Claims of Attack in Iraq 11-20 August 2014," OSC Summary, August 11, 2014.                                                                                                                                                                                                      21
"Iraq: Roundup of Security Incidents 26 July - 1 August 2016," Summary, July 26, 2016.                                                                                                                                                                                                           21
"Mobile phone towers attacked in north Nigeria," Press Trust of India, September 7, 2012.                                                                                                                                                                                                        20
Clark Howard, "Zebra: The true account of the 179 days of terror in San Francisco," Richard Marek Publishers, 1979.                                                                                                                                                                              20
"Thailand: Power posts damaged by bombs in Narathiwat," Bangkok Post Online, August 7, 2016.                                                                                                                                                                                                     20
"Iraq: Roundup of Security Incidents 01-06 April 2014," OSC Summary, April 7, 2014.                                                                                                                                                                                                              19
"Iraq: Roundup of Security Incidents 03-09 June 2014," OSC Summary, June 10, 2014.                                                                                                                                                                                                               19
"Ten houses, belong to security elements, blown up in Kirkuk," National Iraq News Agency, October 9, 2013.                                                                                                                                                                                       18
"Thailand: Yala hit by bombs, arson attacks," Bangkok Post Online, October 29, 2015.                                                                                                                                                                                                             18
"Roundup: Wave of   bomb attacks   in Iraq kill 32, injure over 100," Xinhua General News Service, December 17, 2012.                                                                                                                                                                            18
“Student, 21, Is Arrested in Nevada in 5-State Bombing Spree.” New York Times¸ May 8, 2002.                                                                                                                                                                                                      18
                                                                                                                                                                                                                                                                                               ...
Al-Mada, “Two civilians were killed and four others were injured in an explosion in Al-Hawijah (District),” August 3, 2006.                                                                                                                                                                       1
“C o n d o l e n c e," Pakistan Press International, December 22, 2001.                                                                                                                                                                                                                           1
"Syria: Al-Nusrah Front Operational Claims Roundup, 21-31 May 2015," OSC Summary, May 21, 2015.                                                                                                                                                                                                   1
S. Ghellab, "Terrorism: A commander of the ANP killed in a bombing in M'Sila (Terrorisme : Un commandant de l’ANP tué dans un attentat à M'Sila)," El Watan, October 8, 2008.                                                                                                                     1
South Asia Terrorism Portal, "Gas Pipeline Blown up in Balochistan," http://www.satp.org/satporgtp/detailed_news3.asp?date3=2011%2F6%2F25#1 (June 25, 2011).                                                                                                                                      1
"PYF chairman injured in firing," Plus News Pakistan, November 25, 2014.                                                                                                                                                                                                                          1
"Eight Turkish soldiers killed, Istanbul palace attacked," DAWN Group, August 20, 2015.                                                                                                                                                                                                           1
"Cairo Plant Burns During Racial Clash," Washington Post, November 9, 1970.                                                                                                                                                                                                                       1
"Boko Haram attacks will not affect Bauchi results â€“ INEC," Premium Times, March 29, 2015.                                                                                                                                                                                                      1
Daily Times, "PTC Hangu's Kidned Instructors Recovered," LexisNexis Academic, Daily Times, September 13, 2009.                                                                                                                                                                                    1
Philstar, James Mananghaya & Roel PareÃ±o, "Army Launches Search, Rescue for 2 Abducted Victims in Sulu," http://www.philstar.com/Article.aspx?articleId=424229 (December 16, 2008).                                                                                                              1
"Pakistan: Blast in Tirah Valley kills two security personnel," Dawn Online, April 1, 2015.                                                                                                                                                                                                       1
"Yemeni   police   foil bomb   attack   in Aden," Xinhua General News Service, July 23, 2012.                                                                                                                                                                                                     1
Elaine Ganley, “Bomb blast at Indonesian Embassy in Paris wounds nine,” The Associated Press, October 8, 2004.                                                                                                                                                                                    1
Associated Press Worldstream, "Senior Iraqi Traffic Official Killed, Police Say," LexisNexis Academic, Associated Press Worldstream, May 11, 2009.                                                                                                                                                1
"Xinhua Middle East news summary at 2200 GMT, Feb. 7," Xinhua General News Service, February 7, 2015.                                                                                                                                                                                             1
Sammer N. Yacoub, “2 Sunni coaches abducted from youth club in Baghdad; 2 U.S. troops reported killed,” The Associated Press, November 1, 2006                                                                                                                                                    1
Jane’s Intelligence, “Suspected NPA Militants Injure Two in the Philippines' Samar,” Terrorism Watch Report, Philippines Daily Inquirer, November 2, 2010.                                                                                                                                        1
"Fighting in Afghan city of Kunduz enters fifth day," Deutsche Presse-Agentur, October 7, 2016.                                                                                                                                                                                                   1
Gurubacharya, Binaj, “Suspected Tamil rebels kill two Muslims in eastern Sri Lanka, military says,” Associated Press Worldstream, April 07, 2006.                                                                                                                                                 1
"Afghanistan: Motorbike Bomb Explosion Wounds 8 People in Baghlan Province," Pajhwok Afghan News, December 15, 2014.                                                                                                                                                                              1
"Conflict leaves 2 militants, 4 police dead in Afghanistan," Xinhua News Agency, October 24, 2013.                                                                                                                                                                                                1
Zee News, “Maoist Torch Vehicles, Machinery in Chatra/Lohardaga,” Press Trust of India, http://zeenews.india.com/news/state-news/maoist-torch-vehicles-machinery-in-chatra-lohardaga_710259.html (June 1, 2011).                                                                                  1
"Shootings Mar Election in Papua," Tempo.co, April 10, 2014.                                                                                                                                                                                                                                      1
Hindu, "Trinamool Leader's Son Abducted, Freed," Hindu, October 4, 2011, http://www.thehindu.com/news/states/other-states/article2509903.ece.                                                                                                                                                     1
El Tiempo, "Two People Injured as a Result of Explosive Device in Yarumal, Antioquia," El Tiempo, June 27, 2010, www.eltiempo.com/.../ARTICULO-WEB-NOTA_INTERIOR_HT-7771121.html.                                                                                                                 1
Shabelle Media Network, "Shelling Targeted to Displaced Camps Kills Two, Injuries More in Mogadishu," Shabelle Media Network, August 19, 2010.                                                                                                                                                    1
National Counterterrorism Center, "One Police Station Damaged in Bombing in Ganzi, Sichuan, China," Worldwide Incidents Tracking System, December 18, 2009.                                                                                                                                       1
"Outnumbered SAS hero kills six IS fighters by himself in Syria," MSN UK, September 21, 2015.                                                                                                                                                                                                     1
"Military figure killed in Yemen," Big News Network, August 4, 2013.                                                                                                                                                                                                                              1
Name: scite2, Length: 56562, dtype: int64

# convert datetime

In [54]:
# convert all o dates to mid of month or year
df_raw['imonth'] = df_raw['imonth'].apply(lambda x: 6 if x==0 else x)
df_raw['iday'] = df_raw['iday'].apply(lambda x: 15 if x==0 else x)

In [55]:
#check if any more 0 dates
df_raw[df_raw['imonth']==0].shape, df_raw[df_raw['iday']==0].shape

((0, 105), (0, 105))

In [56]:
# combine year, month, day to 1 col
df_raw['mydate'] = df_raw['iyear'].astype(str)+'/'+df_raw['imonth'].astype(str)+'/'+df_raw['iday'].astype(str)
df_raw['mydate'] = pd.to_datetime(df_raw['mydate'], format='%Y/%m/%d')
for c in ['iyear','imonth','iday']: df_raw.drop(c, axis=1, inplace=True)

In [57]:
df_raw['mydate'] = pd.to_datetime(df_raw['mydate'], format='%Y/%m/%d')
df_raw.shape

(170350, 103)

In [58]:
add_datepart(df_raw, 'mydate')
df_raw.shape

(170350, 115)

In [59]:
%time df_raw.to_feather('tmp/gtd-raw-allcats-dt')

CPU times: user 407 ms, sys: 149 ms, total: 556 ms
Wall time: 886 ms

# Split data into train, valid, test sets

In [3]:
df_raw = pd.read_feather('tmp/gtd-raw-allcats-dt')

In [4]:
df_test = df_raw[df_raw['gname']=='Unknown'].copy()
df_trn = df_raw[df_raw['gname']!='Unknown'].copy()
df_test.shape, df_trn.shape

((78306, 115), (92044, 115))

# convert max cats

In [5]:
xcats = ['eventid', 'iyear', 'imonth', 'iday', 'latitude', 'longitude']

cats = [c for c in df_raw.columns if c not in xcats]
len(cats), len(xcats), df_raw.shape

(112, 6, (170350, 115))

In [6]:
for v in cats:
    df_trn[v] = df_trn[v].astype('category').cat.as_ordered()

In [7]:
apply_cats(df_test, df_trn)

# myidx, split_vals, proc_df

In [8]:
# split into training and valid indexes
seed = 42
def myidxs(n, cv_idx=0, val_pct=0.2, seed=seed):
    np.random.seed(seed)
    n_val = int(val_pct*n)
    idx_start = cv_idx*n_val
    idxs = np.random.permutation(n)
    return idxs[idx_start:idx_start+n_val], idxs[idx_start+n_val:]

In [9]:
val_idx, trn_idx = myidxs(df_trn.shape[0])
val_idx.shape, trn_idx.shape

((18408,), (73636,))

In [10]:
def split_vals(a,t,v):
    if type(a)==type(df):
        trn, val = a.iloc[t].copy(), a.iloc[v].copy()
    elif type(a)==type(y):
        trn, val = a[[t]].copy(), a[[v]].copy()
    return trn, val

In [12]:
df, y, nas = proc_df(df_trn, 'gname')

In [13]:
dfts, yts, nas = proc_df(df_test, 'gname', na_dict=nas)

In [14]:
df.shape, y.shape, dfts.shape, yts.shape

((92044, 116), (92044,), (78306, 116), (78306,))

In [15]:
X_train, X_valid = split_vals(df,trn_idx,val_idx)
y_train, y_valid = split_vals(y,trn_idx,val_idx)
X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((73636, 116), (18408, 116), (73636,), (18408,))

# the Model

In [16]:
def print_score(m):
    print(m.score(X_train, y_train), m.score(X_valid, y_valid),m.oob_score_)

In [17]:
m = RandomForestClassifier(n_estimators=40, max_features=0.5, n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 11min 19s, sys: 21.1 s, total: 11min 40s
Wall time: 1min 54s
0.999619751208648 0.8538135593220338 0.8431202129393232

In [18]:
m = RandomForestClassifier(n_estimators=100, max_features=0.5, n_jobs=-1, oob_score=True)
%time m.fit(X_train, y_train)
print_score(m)

CPU times: user 28min 32s, sys: 51.4 s, total: 29min 23s
Wall time: 4min 45s
0.9999728393720463 0.8576162538026945 0.8506437068825031

# Test on test set

In [19]:
% time ans = m.predict(dfts)

CPU times: user 2min 19s, sys: 51.7 s, total: 3min 11s
Wall time: 51.4 s

In [21]:
anskey = df_trn.gname.cat.categories.tolist()

In [23]:
final_answer = [anskey[x] for x in ans]

In [25]:
dfts['final_answer'] = final_answer

In [26]:
dfts.head()

,eventid,extended,resolution,country_txt,region_txt,provstate,city,latitude,longitude,specificity,...,myIs_month_end,myIs_month_start,myIs_quarter_end,myIs_quarter_start,myIs_year_end,myIs_year_start,myElapsed,latitude_na,longitude_na,final_answer
2,197001000001,1,0,130,10,1532,22109,15.478598,120.599741,4,...,1,1,1,1,1,1,11,False,False,Muslims
3,197001000002,1,0,63,12,136,1591,37.983773,23.728157,1,...,1,1,1,1,1,1,11,False,False,Left-wing extremists
4,197001000003,1,0,83,4,0,7350,33.580412,130.396361,1,...,1,1,1,1,1,1,11,False,False,Airport Protesters
7,197001020002,1,0,177,7,307,15882,37.805065,-122.273024,1,...,1,1,1,1,1,1,2,False,False,Strikers
12,197001080001,1,0,80,12,863,18258,41.890520,12.494249,1,...,1,1,1,1,1,1,0,False,False,Popular Front for the Liberation of Palestine ...

In [27]:
dfts.to_csv('data/gtd/gtd-finalanswer.csv')